
.compClient {
    transition: background-color 0.2s ease;
  }
  
  .compClient:hover {
    background-color: #f3f4f6; /* cinza claro */
    cursor: pointer;
  }
  
  /* textos dentro do cliente */
  .compClient:hover .clientText {
    color: #5d89c4; /* azul */
    transition: color 0.2s ease;
  }