
.compClient {
    transition: background-color 0.2s ease;
    padding-right: 5px;
    border-radius: 5px;
  }
  
  .compClient:hover {
    background-color: #f3f4f6; /* cinza claro */
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
  }
  
  /* textos dentro do cliente */
  .compClient:hover .clientText {
    color: #824085; /* azul */
    transition: color 0.2s ease;
  }


  